@using InternetBanking.Core.Application.Dtos.Account;
@using InternetBanking.Core.Application.ViewModels.CreditCards;

@model SaveCardViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card mt-3">
                    <div class="card-body mt-3">
                        <form class=" mb-3" method="post" asp-controller="CreditCards" asp-action="NewCreditCard">

                            <div class="mb-3">
                                <label>Seleccione el titular de la tarjeta</label>
                                <select class="form-select" asp-for="IdUser">
                                    @foreach (AuthenticationResponse user in ViewBag.Users)
                                    {
                                        <option value="@user.Id">@user.FirstName @user.LastName</option>
                                    }

                                </select>
                            </div>

                            <div class="mb-3">
                                <label>Seleccione el tipo de tarjeta</label>
                                <select class="form-select" asp-for="SelectCard" >

                                    <option value="CLASSIC">CLASICA --Limite: $5,000</option>
                                    <option value="ELITE"> ELITE --Limite: $15,000</option>
                                    <option value="GOLD">GOLD, --Limite: $25,000</option>
                                    <option value="PLATINUM">PLATINUM --Limite: $40,000</option>
                                    <option value="DIAMOND"> DIAMOND --Limite: $75,000</option>
                                    <option value="BLACK"> BLACK --Limite: $100,000</option>

                                </select>
                            </div>




                            <button type="submit" class="btn btn-outline-primary float-end ms-2">Crear cuenta</button>
                            <a class="btn btn-secondary float-end" asp-controller="SavingAccount" asp-action="SavingAccount">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    .card {
        border: 0.2px solid #09385B;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 0 0 10px #6BA2CD;
    }

    label {
        color: #1B4A6F;
        font-size: 18px;
        font-weight: bold;
    }

    .input-blue {
        color: #1B4A6F;
        font-size: 18px;
        font-weight: bold;
    }

</style>