@using InternetBanking.Core.Application.ViewModels.User;
@model UserStatusViewModel
@{
    ViewData["Title"] = "Activar usuario";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="bg-dark p-2 text-white bg-opacity-75 m-md-1 fw-bolder">
                    <h4>¿Está seguro de que desea activar este usuario?</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="ActivateUser">

                        <input type="hidden" asp-for="Id" name="id" />

                        <button type="submit" class="btn btn-danger p-2 text-white bg-opacity-75 m-md-1 fw-bolder">Confirmar</button>
                        <a asp-controller="User" asp-action="UserAdministrator" class="btn btn-sm btn-dark p-2 text-white bg-opacity-75 m-md-1 fw-bolder">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
