@using InternetBanking.Core.Application.ViewModels.User
@model string 
@{
    ViewData["Title"] = "Confirmar Email";
}

<div clas="row mt-3">
    <div class="col-6 offset-3">
        <div class="card shadow-sm">
            <div class="card-body">

                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <h2>@Model - <a class="btn btn-primary" asp-action="Index" asp-controller="User">Inicia sesion</a></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            </div>
        </div>
    </div>
</div>