@using InternetBanking.Core.Application.ViewModels.User;

@model ResetPasswordViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card border-cards">
                    <div class="card-header bg-dark text-light text-center">
                        <h4>Cambia tu contraseña de El Banquillo</h4>
                    </div>
                    <div class="card-body">
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form class="form-floating mb-3" method="post" asp-controller="User" asp-action="ResetPassword">

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" asp-for="Email" placeholder="gsilveriogmail.com" autocomplete="off">
                                <label for="floatingInput">Confirma tu correo de El Banquillo</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" asp-for="Password" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Ingrese la nueva contraseña</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Confirme la contraseña</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>


                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-dark float-end ms-2">Cambiar Contraseña</button>
                                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary float-end ms-2">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
