@using InternetBanking.Core.Application.ViewModels.Login;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Olvidaste tu contraseña?";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-blue-card-header text-light text-center">
                        <h4>Olvidaste tu contraseña?</h4>
                    </div>
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card-body">
                        <form class="form-floating mb-3" method="post" asp-controller="Login" asp-action="ForgotPassword">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" asp-for="Email" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Ingrese su correo del su cuenta en El Banquillo</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-dark float-end ms-2">Enviar Solicitud</button>
                            <a class="btn btn-secondary float-end" asp-controller="Login" asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .bg-blue-card-header {
        background-color: #09385B;
        color: white;
    }

    .card {
        border: 0.2px solid #09385B;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 8px 8px 16px #6BA2CD;
    }

</style>