@using InternetBanking.Core.Application.ViewModels.Login;

@model ForgotPasswordViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card border-cards">
                    <div class="card-header bg-dark text-light text-center border-cards">
                        <h4>Olvidaste tu contraseña?</h4>
                    </div>
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card-body">
                        <form class="form-floating mb-3" method="post" asp-controller="Login" asp-action="ForgotPassword">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" asp-for="Email" placeholder="gsilveriogmail.com">
                                <label for="floatingInput">Ingrese su correo del su cuenta en El Banquillo</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-dark float-end ms-2">Enviar Solicitud</button>
                            <a class="btn btn-secondary float-end" asp-controller="Login" asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
